<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Tariff Stroll For Monetary Trading </title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta charset="utf-8" />
	<meta name="keywords" content="Shipping Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	 <link href="/static/index/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<!--banner slider  -->
	<link href="/static/index/css/JiSlider.css" rel="stylesheet">
	<!-- //banner-slider -->
	<link rel="stylesheet" href="/static/index/css/flexslider.css" type="text/css" media="screen" property="" />
	 <link href="/static/index/css/font-awesome.css" rel="stylesheet">
	<link href="/static/index/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="//fonts.googleapis.com/css?family=Rubik:400,500,700,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

</head>

<body>
	<!-- header -->
	<section class="w3layouts-header py-2">
		<div class="container">
			  <!-- header -->
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">

                   <div class="logo" style="font-family:georgia;font-weight:bold;font-size:30px;text-align:center; ">
		Tariff Stroll For Monetary Trading
	</div>
                    <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-center">
                            <li class="nav-item active  mr-3">
                                <a class="nav-link" href="{% url 'buyer_index' %}">HOME
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item  mr-3">
                                <a class="nav-link" href="{% url 'about' %}">About</a>
                            </li>
							 <li class="nav-item  mr-3">
                                <a class="nav-link" href="{% url 'services' %}">Services</a>
                            </li>

                        </ul>
                    </div>

                </nav>
        </header>
        <!-- //header -->

		</div>
	</section>
	<!-- //header -->
	<section class="banner-1">
	</section>
	<!-- contact -->
	<div class="w3ls-section banner-single py-md-5">
		<div class="container py-4 mt-2">
			<h3 class="tittle-w3ls text-center mb-3">Contact Us</h3>
			<p class="tit text-center mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel ab, nesciunt quod!</p>
			<div class="row about-inner-main pt-4 mt-md-4">
				<div class="col-md-6 contact-left">
					<div class="agile-contact-top">
						<h4>address </h4>
						<p>1234k Avenue,Block-4,New York City.</p>
					</div>
					<div class="contact-bottom">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3060153584!2d-74.2598711799434!3d40.69714940555201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1510842846108"
						    style="border:0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-6 w3layouts-reg-form contact-form-row-agileinfo">
					<h4 class="form-con-txt">send us a mail</h4>
					<form action="#" method="post" class="banner_form contact-inner-form">
						<div class="contact-form-left contact-field1">
							<div class="sec-left">
								<label class="contact-form-text">Name</label>
								<input placeholder="your name " name="first name" type="text" required="">
							</div>
							<div class="sec-right">
								<label class="contact-form-text">Email</label>
								<input placeholder="xxx@xx.com " name="first name" type="email" required="">
							</div>
						</div>
						<div class="contact-form-right contact-field2">
							<input type="submit" value="send message">
						</div>
						<div class="clearfix"></div>
						<div class="form-tx contact-field3">
							<label class="contact-form-text">Address</label>
							<textarea placeholder="your address" required=""></textarea>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<!-- contact -->

	<script  src="/static/index/js/SmoothScroll.min.js"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	 <script src="/static/index/js/bootstrap.js"></script>
</body>

</html>